@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.inconsolata-uniquifier {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

div.topnav {
    background-color: #ffffff;
    overflow: hidden;
  }

div.topnav a {
    float: right;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-family: "Ubuntu";
    font-size: 24px;
}

div.topnav a:hover {
    color: rgb(94, 94, 94);
}

div.bottomnav {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.bottomnav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    font-family: "Ubuntu";
    font-size: 16px;
}

div.bottomnav a:hover {
    color: rgb(94, 94, 94);
}

h1 {
    color: #ffffff;
    font-family: "Ubuntu";
    font-size: 60px;
    text-align: center;
}

div.about {
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    font-family: "Inconsolata";
    font-size: 25px;
    margin-left: 200px;
    margin-right: 200px;
}

div.aspectratio iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vw; 
    height: 40.65vw;
}

h3 {
    color: #ffffff;
    font-family: "Ubuntu";
    text-align: center;
    font-size: 40px;
}