@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Special+Gothic+Expanded+One&display=swap');

.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

.inconsolata-uniquifier {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

div.topnav {
    background-color: #ffffff;
    overflow: hidden;
  }

div.topnav a {
    float: right;
    color: rgb(245, 128, 101);
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-family: "Special Gothic Expanded One";
    font-size: 24px;
}

div.topnav a:hover {
    color: rgb(246, 175, 159);
}

div.bottomnav {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.bottomnav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    font-family: "Special Gothic Expanded One";
    font-size: 16px;
}

div.bottomnav a:hover {
    color: rgb(246, 175, 159);
}

h1 {
    color: #ffffff;
    font-family: "Special Gothic Expanded One";
    font-size: 60px;
    text-align: center;
}

div.about {
    text-align: center;
    color: #ffffff;
    font-family: "Inconsolata";
    font-size: 25px;
}

div.list {
    overflow: hidden;
    color: #ffffff;
    font-family: "Special Gothic Expanded One";
    margin-left: 200px;
    margin-right: 200px;
}

div.list a{
    font-size: 40px;
}

div.list h4{
    font-family: "Inconsolata";
    font-size: 25px;
}

div.list a:link {
    color: #ffffff;
    text-decoration: none;
}

div.list a:hover{
    color: #dbdbdb;
    text-decoration: underline;
}

div.list a:visited{
    color: #ffffff;
}